
.dark-background {
    background-color: #1a1819;
}

.text-whity {
    color: #FFF1F4;
}

.text-hover {
    color: #a74848;
}

.text-hover:hover {
    color: #CB2745;
}

.text-red {
    color: #CB2745;
}

.t:hover {
    color: #CB2745;
}

.icon-insta:hover {
    color: rgb(253, 142, 169);
} 

.icon-twitter:hover {
    color: rgb(132, 174, 230);
} 

.icon-twitch:hover {
    color: rgb(184, 118, 228);
} 

.icon-git:hover {
    color: rgb(86, 79, 92);
} 

#map {
    width: 100%;
    height: 500px;
}