.dark-background {
  background-color: #1a1819;
}

.text-whity {
  color: #fff1f4;
}

.text-hover {
  color: #a74848;
}

.text-hover:hover {
  color: #cb2745;
}

.text-red {
  color: #cb2745;
}

.t:hover {
  color: #cb2745;
}

.icon-insta:hover {
  color: rgb(253, 142, 169);
}

.icon-twitter:hover {
  color: rgb(132, 174, 230);
}

.icon-twitch:hover {
  color: rgb(184, 118, 228);
}

.icon-git:hover {
  color: rgb(86, 79, 92);
}

#map {
  width: 100%;
  height: 500px;
}

h5 {
  color: white;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
}

@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}