.float-button {
  position: absolute;
  z-index: 10;
  width: 130px !important;
}

.map-button1 {
  top: 10px;
}

.map-button2 {
  top: 60px;
}

.map-button3 {
  top: 110px;
}

.map-button4 {
  top: 160px;
}

.dark-background {
  background-color: #1a1819;
}

.text-whity {
  color: #fff1f4;
}

.text-hover {
  color: #a74848;
}

.text-hover:hover {
  color: #cb2745;
}

.text-red {
  color: #cb2745;
}

.t:hover {
  color: #cb2745;
}

.icon-insta:hover {
  color: rgb(253, 142, 169);
}

.icon-twitter:hover {
  color: rgb(132, 174, 230);
}

.icon-twitch:hover {
  color: rgb(184, 118, 228);
}

.icon-git:hover {
  color: rgb(86, 79, 92);
}

.hide {
  display: none;
}
    
.button-show:hover + .hide {
  display: block;
}

#map {
  width: 100%;
  height: 500px;
}

#mapa {
  width: 100%;
  height: 740px;
}

h5 {
  color: white;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,#DC3544, #be404a, #ab4b53 , #DC3544,#be404a, #ab4b53);
    background-size: 300% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
}

@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

.scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: rgb(17,22,22);
	border-radius: 10px;
}

.scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: rgb(17,22,22);
}

.scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgb(17,22,22);
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#ca2641),
									   to(#DC3544),
									   color-stop(.6,#ca2641))
}